@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("./assets/background.png");
  background-size: contain;
  background-position: cover;
  background-repeat: no-repeat;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
